context_menu_bg_color: #252525
context_menu_font_color: #7b7b7b
context_menu_hovered_bg_color: #e3a749
context_menu_hovered_font_color: #ffffff
context_menu_line_color: #2f2f2f
drag_line_color: #a19697
editor_body_bg_color: #252525
editor_bold_font_color: #7b7b7b
editor_code_font_color: #8ac9ff
editor_cursor_color: #e3a749
editor_font_color: #7b7b7b
editor_image_bg_color: #252525
editor_image_font_color: #fcbb56
editor_italic_font_color: #cd5555
editor_link_bg_color: #252525
editor_link_font_color: #c7b8d7
editor_list_sign_font_color: #8ac9ff
editor_plain_title_font_color: #aac78c
editor_quote_sign_font_color: #8ac9ff
editor_search_keywords_bg_color: #a5d4fb
editor_title_font_color: #cbcbcb
editor_title_line_color: #2f2f2f
editor_unfocused_font_color: #4a4b4e
footer_account_not_connected_color: #ea4d46
footer_bg_color: #282828
footer_font_color: #818181
footer_icon_checked_bg_color: #282828
footer_icon_checked_color: #d2d2d2
footer_icon_color: #818181
footer_icon_hovered_color: #ffffff
footer_line_color: #2f2f2f
history_added_bg_color: #b4feb2
history_added_font_color: #0d7610
history_removed_bg_color: #ffeeee
history_removed_font_color: #b5050e
image_signature_font_color: #333333
left_1_bg_color: #272727
left_1_item_font_color: #989b9b
left_1_item_hovered_bg_color: #232323
left_1_item_hovered_font_color: #9b9b9b
left_1_item_line_color: #2b2b2b
left_1_item_selected_bg_color: #282828
left_1_item_selected_font_color: #e9e8e8
left_2_bg_color: #292929
left_2_item_font_color: #9b9b9b
left_2_item_hovered_bg_color: #242424
left_2_item_hovered_font_color: #ffffff
left_2_item_line_color: #2f2f2f
left_2_item_selected_bg_color: #e3a749
left_2_item_selected_font_color: #e9e8e8
left_bar_button_clicked_bg_color: #202020
left_bar_button_clicked_font_color: #ffffff
left_bar_button_font_color: #ffffff
left_bar_button_hovered_bg_color: #e3a749
left_bar_button_hovered_font_color: #939cab
left_bar_button_line_color: #2f2f2f
left_bar_line_color: #2f2f2f
line_color: #14140a
preview_bg_color: #252525
scroll_bg_color: #2f2f2f
scroll_thumb_bg_color: #535353
scroll_thumb_hovered_bg_color: #111111
search_bar_bg_color: #282828
search_bar_clear_icon_color: #555555
search_bar_font_color: #ffffff
search_bar_icon_color: #999999
search_bar_line_color: #333333
sites_bg_color: #2d2d2d
sites_button_font_color: #999999
sites_button_hovered_font_color: #ffffff
sites_font_color: #ffffff
sites_line_color: #2f2f2f
splitter_color: #252525
toc_bg_color: #252525
toc_focused_bg_color: #353535
toc_line_color: #2f2f2f
toc_pound_sign_font_color: #999999
tb_bg_bottom_line_color: #202020
tb_bg_color1: #303030
tb_bg_color2: #2B2B2B
tb_bg_color3: #222222
tb_font_color: #999999