context_menu_bg_color: #ffffff
context_menu_font_color: #999999
context_menu_hovered_bg_color: #4e9df9
context_menu_hovered_font_color: #ffffff
context_menu_line_color: #f4f4f4
drag_line_color: #f4f4f4
editor_body_bg_color: #ffffff
editor_bold_font_color: #ea4c5f
editor_code_font_color: #74959f
editor_cursor_color: #78b992
editor_font_color: #6f6f6f
editor_image_bg_color: #ffffff
editor_image_font_color: #c3abdd
editor_italic_font_color: #fa907f
editor_link_bg_color: #ffffff
editor_link_font_color: #89cdd9
editor_list_sign_font_color: #78b992
editor_plain_title_font_color: #111111
editor_quote_sign_font_color: #78b992
editor_search_keywords_bg_color: #fff68d
editor_title_font_color: #78b992
editor_title_line_color: #f4f4f4
editor_unfocused_font_color: #cccccc
footer_account_not_connected_color: #ea4d46
footer_bg_color: #ffffff
footer_font_color: #666666
footer_icon_checked_bg_color: #f8f8f8
footer_icon_checked_color: #ff0000
footer_icon_color: #666666
footer_icon_hovered_color: #ff0000
footer_line_color: #f4f4f4
history_added_bg_color: #b4feb2
history_added_font_color: #0d7610
history_removed_bg_color: #ffeeee
history_removed_font_color: #b5050e
image_signature_font_color: #999999
left_1_bg_color: #ffffff
left_1_item_font_color: #666666
left_1_item_hovered_bg_color: #4e9df9
left_1_item_hovered_font_color: #ffffff
left_1_item_line_color: #f4f4f4
left_1_item_selected_bg_color: #f8f8f8
left_1_item_selected_font_color: #666666
left_2_bg_color: #ffffff
left_2_item_font_color: #666666
left_2_item_hovered_bg_color: #4e9df9
left_2_item_hovered_font_color: #ffffff
left_2_item_line_color: #f4f4f4
left_2_item_selected_bg_color: #f8f8f8
left_2_item_selected_font_color: #666666
left_bar_button_clicked_bg_color: #f8f8f8
left_bar_button_clicked_font_color: #666666
left_bar_button_font_color: #000000
left_bar_button_hovered_bg_color: #4e9df9
left_bar_button_hovered_font_color: #000000
left_bar_button_line_color: #f4f4f4
left_bar_line_color: #f4f4f4
line_color: #f4f4f4
preview_bg_color: #ffffff
scroll_bg_color: #ffffff
scroll_thumb_bg_color: #eeeeee
scroll_thumb_hovered_bg_color: #909090
search_bar_bg_color: #ffffff
search_bar_clear_icon_color: #cccccc
search_bar_font_color: #000000
search_bar_icon_color: #666666
search_bar_line_color: #f4f4f4
sites_bg_color: #ffffff
sites_button_font_color: #555555
sites_button_hovered_font_color: #ff0000
sites_font_color: #000000
sites_line_color: #f4f4f4
splitter_color: #ececec
tb_bg_bottom_line_color: #ffffff
tb_bg_color1: #f8f8f8
tb_bg_color2: #f8f8f8
tb_bg_color3: #f8f8f8
tb_font_color: #999999
toc_bg_color: #ffffff
toc_focused_bg_color: #f8f8f8
toc_line_color: #f4f4f4
toc_pound_sign_font_color: #999999
